<h1>Log In Below:</h1>

<form method="post" action="/sessions">
  <input type="text" name="email" id="email">
  <input type="text" name="password" id="password">
  <br><br>
  <input type="submit" value="Log In" name="submit">Log In</input>

</form>
