<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
  <input type="text" name="name"
  > Name: </input>
  <h1>Email: <input id="email" type="text" name="email"></input></h1>
  <input type="text" name="password"> Password: </input>
  <br><br>
  <Button type="submit" value="submit">Sign Up</Button>
</form>
